.divTable{
	display: table;
	width: 100%;
}
a{
	font-size: 18px;
}
.divTableRow {
	background-image: url(2.png);
	background-size: 100% 100%;
	display: table-row;
}
.divTableCell{
	display: inline-block;
	vertical-align: middle;
	padding: 5% 0;
}
.divTableBody {
	display: table-row-group;
}
img{
	max-width: 100%;
	border-radius: 30%;
}
p{
	font-weight: 900;
	text-align: center;
	font-size: 18px;
}
.left{
	padding-left: 9%;
	width: 20%;
}
.right{
	padding-right: 9%;
	width: 20%;
}
.middle{
	padding: 0% 6%;
	width: 60%;
}
@media (max-width: 1000px){
	.middle{
		padding: 10% 3%;
	}
	p{
		font-size: 25px;
	}
}
@media (max-width: 767px){
	.divTableCell{
		display:block;
		margin: auto;
	}
	.left, .right, .middle{
		width: 90%;
		text-align: center;
		padding: 0;
	}
	.left{
		padding-top: 10%;
	}
	.right{
		padding-bottom: 10%;
	}
	.middle{
		padding: 1% 5%;
	}
}