.tbl {
  display: table;
  margin-bottom: 100px;            
}
.row{
	display: table-row;
	width: 47%;
	clear: both;
}
.column {
	background-image: url(1.jpg);
	width: 47%;
  	float: left; /* fix for  buggy browsers */
  	display: table-column;
  	margin: 10px;     
  	text-align: center;
}
.imge{
	width: 50%;
}
@media (max-width: 769px){
	.column{
		width: 100%;
	}
	.tbl{
		margin-right: 15px;
	}
}