
.tbl {
  display: table;         
  width: 100%;                   
}
.row{
	display: table-row;
	width: 47%;
	clear: both;
}
.column {
	background-image: url(1.jpg);
	width: 47%;
  	float: left; /* fix for  buggy browsers */
  	display: table-column;
  	margin: 10px;     
  	text-align: center;
}
.stih{

}